.projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}

.projects__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projects__item:hover {
    border-color: var(--color-accent);
    background: transparent;
}

.projects__item--img {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 16rem;
    overflow: hidden;
}

.projects__item h3 {
    margin: 1.2rem 0 1.2rem;
}

.projects__item--buttons {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}

li {
    list-style: square;
    margin-left: 1.5rem;
    color: var(--color-accent)

}

/* medium devices media queries*/
@media screen and (max-width: 1024px) {
    .projects__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  }
  
/* small devices media queries*/
@media screen and (max-width: 600px) {
    .projects__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
  }
  