.contact__container {
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}

.contact__container--col {
    flex: 50%;
    justify-content: center;
}

.col__img {
    border-radius: 50%;
    height: 28rem;
    width: 28rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form > h3 {
    color: var(--color-accent)
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-accent);
    resize: none;
    color: var(--color-accent);
    font-family: "Poppins", sans-serif;
}

/* medium devices media queries*/
@media screen and (max-width: 1024px) {
  
    .contact__container--col{
        flex: 100%;
    }

    section {
        margin: 0;
    }
  }
  
/* small devices media queries*/
@media screen and (max-width: 600px) {
  
    .contact__container--col{
        flex: 100%;
    }

    section {
        margin: 0;
    }
  }
  