header {
    padding: 8rem 8rem 0 8rem;
    overflow: hidden;
    line-height: 1.7;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-flow: row wrap;
}

.header__container--col {
    flex: 50%;
    justify-content: center;
}


.header__buttons_row {
    margin-top: 1.8rem;
    display: flex;
    gap: 1.5rem;
}

img {
   padding-left: 2rem;
   padding-right: 2rem;
}

/* medium devices media queries*/
@media screen and (max-width: 1024px) {
    .header__container--col{
        flex: 100%;
    }
  }
  
/* small devices media queries*/
@media screen and (max-width: 600px) {
 
    .header__container--col{
        flex: 100%;
    }
  }
  