@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: borde-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #131338;
  --color-bg-variant: #0a0a1f;
  --color-primary: #a4cbe7;
  --color-primary-variant: #305b8a;
  --color-accent: #bdecbd;
  --color-white: #eceae8;
  --color-light: rgba(255,255,255,0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* general styles fpr the app */
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  /*background-image: url("./assets/bg.png");*/
}

section {
  margin-top: 2rem;
  padding: 8rem 8rem 0 8rem;
  line-height: 1.7;
  height: 80vh;
}

section > h1 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 3.5rem;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

button {
  width: max-content;
  color: var(--color-accent);
  display: inline-block;
  padding: 0.75rem 1.2rem;
  background-color: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-accent);
  transition: var(--transition);
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
}

button:hover {
  background: var(--color-accent);
  color: var(--color-bg-variant);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* medium devices media queries*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .section {
    margin-top: 6rem;
  }

  section {
    height: 100vh;
  }
}

/* small devices media queries*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  .section > h2{
    margin-bottom: 2rem;
  }

  section {
    height: 100vh;
  }
}
