@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');

nav {
    display: block;
    padding: 2.5rem 8rem 1rem 8rem;
    z-index: 2;
    position: fixed;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
    width: 100%;
}

nav a {
    background: transparent;
    padding: 0.5rem;
    display: flex;
    color: var(--color-light);
    font-size: 1.4rem;
    border-radius: 50%;
}


nav a.active {
    color: var(--color-white);
    background: var(--color-bg-variant);
}

nav h1 {
    font-family: 'League Script', cursive;
    display: inline-block;
    width: 70%;
}

.dropdown {
    position: relative;
    display: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-light);
    padding: 1rem;
    z-index: 1;
    border-radius: 5%;
  }

  .dropdown-content a {
    display: block;
    color: var(--color-bg);
    font-size: .7rem;
    border-radius: 50%;
    align-items: center;

  }
  
  .dropdown-content a.active {
    color: var(--color-white);
    background-color: var(--color-bg);
    border-radius: 10%;
}

  
.dropdown-content a:hover {
    color: var(--color-white);
    background-color: var(--color-bg);
    border-radius: 10%;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }

/* medium devices media queries*/
@media screen and (max-width: 1024px) {
    nav a  {
       display: none;
    }

    .dropdown  {
        display: inline-block;
     }
  }
  
/* small devices media queries*/
@media screen and (max-width: 600px) {
    nav a  {
        display: none;
     }

     .dropdown  {
        display: inline-block;
     }
   
  }
  